-i https://pypi.org/simple
pyaml==25.1.0; python_version >= '3.8'
python-nmap==0.7.1
pyyaml==6.0.2; python_version >= '3.8'
ruamel.yaml==0.18.10; python_version >= '3.7'
ruamel.yaml.clib==0.2.12; python_version >= '3.9'
